@{
    ViewData["Title"] = "HomePage";
}
<!DOCTYPE html>
<div style="background-color: rgba(255, 255, 255, 0.8); padding: 20px;">
    <h1 class="display-4">Добро пожаловать!</h1>
</div>
<div style="background-color: rgba(255, 255, 255, 0.8); padding: 20px;">
    <h1>Гостиница "Baltic" в Абхазии</h1>
    <p>Гостиница "Baltic" – идеальное место для тех, кто хочет насладиться роскошным отдыхом на берегу Черного моря в живописной Абхазии. Наш отель предлагает уютные номера с видом на море, где каждый гость сможет ощутить комфорт и гостеприимство.</p>
    <p>Здесь вы сможете насладиться пляжным отдыхом, расслабиться у бассейна или заняться спортом в нашем фитнес-центре. Наша гостиница также предлагает разнообразные развлечения и экскурсии по окрестностям, чтобы сделать ваше пребывание незабываемым.</p>
    <p>Наши номера оборудованы всем необходимым для комфортного проживания, а наши профессиональные сотрудники всегда готовы помочь вам в любых вопросах и пожеланиях.</p>
    <p>Добро пожаловать в гостиницу "Baltic" – ваш уголок уюта и роскоши на побережье Абхазии, где каждый момент становится незабываемым!</p>
</div>

