<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница обратной связи</title>
    <style>

    </style>
</head>
<body>
    <div class="register-container">
        <h2>Обратная связь</h2>
        <form>
            <input type="name" placeholder="Имя" required>
            <input type="email" placeholder="Электронная почта" required>
            <textarea rows="4" placeholder="Сообщение" required></textarea>
            <button name="register" type="submit">Отправить</button>
        </form>
    </div>
</body>
</html>