<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница регистрации</title>
    <style>
        .register-container {
            background: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 100%;
        }

        input[type="text"],
        input[type="password"],
        input[type="date"]
        {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        button[name = "regBtn"] {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

            button:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <div class="register-container">
        <h2>Регистрация</h2>
        <form id="registerForm" action="/Person/Register" method="post">
            <input type="text" name="fio" placeholder="ФИО" required>
            <input type="text" name="email" placeholder="Электронная почта" required>
            <input type="text" name="phone" placeholder="Номер телефона" required>
            <input type="text" name="login" placeholder="Логин" required>
            <input type="password" name="password" placeholder="Пароль" required>
            <input type="date" name="birthday" placeholder="Дата рождения" required>
            <button name="regBtn" type="submit">Зарегистрироваться</button>
        </form>
    </div>

    <script>
        document.getElementById('registerForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Отменяем стандартное действие формы
            var formData = new FormData(this);

            fetch('/Person/Register', {
                method: 'POST',
                body: formData
            })..then(response => {
                if (response.ok) {
                    if (response.redirected) {
                        window.location.href = response.url; // Перенаправляем пользователя на URL, на который указывается при редиректе
                    } else {
                        window.location.href = '/'; // Перенаправляем пользователя на главную страницу
                    }
                } else {
                    alert('Произошла ошибка при регистрации');
                }
            })
        });
    </script>
</body>
</html>